# ----------------------------
# .env 
# ----------------------------

*/.env

# ----------------------------
# Node / React
# ----------------------------
**/node_modules/
**/dist
.pnp/
.pnp.js
coverage/
build/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Misc
.DS_Store

# ----------------------------
# Python / Flask backend
# ----------------------------
*/venv/
*/.venv/
__pycache__
*/.pyc
*/instance/


# ----------------------------
# IDE / OS
# ----------------------------
**/.vscode/
*/.idea/
*/.swp
*/Thumbs.db

# ----------------------------
# Compiled / cache / temp
# ----------------------------
*/.log
*/.sqlite3
*/.db

